[Unit]
Description=mpdcron
Requires=mpd.service
After=mpd.service

[Service]
Environment="MPDCRON_DIR=/home/volumio/.mpdcron"
ExecStart=/usr/bin/mpdcron --no-daemon

[Install]
WantedBy=multi-user.target
